<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>index</h1>
  <a href="{% url 'todos:new' %}">[new]</a>
  <br>
    <hr>
      {% for todo in todos %}
        <h1>할 일 : {{ todo.title }}</h1>
        <p>작성자 : {{ todo.author }}</p>
        <p>완료여부 : {{ todo.completed }}</p>
      {% endfor %}
    <hr>
</body>
</html>

