{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ movie.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ movie.title }}</p>
  <p>내용 : {{ movie.content }}</p>
  <p>영화 제목 : {{ movie.movie_title }}</p>
  <p>글 내용 : {{ movie.content }}</p>
  <p>rank : {{ movie.rank }}</p>
  <hr>
  <a href="{% url 'community:update' movie.pk %}">[UPDATE]</a>
  <form action="{% url 'community:delete' movie.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
  <a href="{% url 'community:index' %}">[back]</a>
{% endblock content %}
